<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<AutomatedInstallation langpack="eng">
    <com.izforge.izpack.panels.HelloPanel id="UNKNOWN (com.izforge.izpack.panels.HelloPanel)"/>
    <com.izforge.izpack.panels.LicencePanel id="UNKNOWN (com.izforge.izpack.panels.LicencePanel)"/>
    <com.izforge.izpack.panels.UserInputPanel id="UNKNOWN (com.izforge.izpack.panels.UserInputPanel)">
        <userInput>
            <entry key="LICENSE_FILE" value="{{ denodo_solution_manager_license_file }}"/>
            <entry key="SETUP_TYPE" value="{{ denodo_solution_manager_setup_type }}"/>
            <entry key="INSTALL_PATH" value="{{ denodo_solution_manager_install_path }}"/>
        </userInput>
    </com.izforge.izpack.panels.UserInputPanel>
    <com.izforge.izpack.panels.DenodoTreePacksPanel id="UNKNOWN (com.izforge.izpack.panels.DenodoTreePacksPanel)">
        <pack name="Common" selected="true"/>
        <pack name="VirtualDataPort" selected="{{ denodo_solution_manager_virtualdataport }}"/>
        <pack name="vdpadmintool" selected="{{ denodo_solution_manager_vdpadmintool }}"/>
        <pack name="webdesignstudio" selected="{{ denodo_solution_manager_webdesignstudio }}"/>
        <pack name="vdpserver" selected="{{ denodo_solution_manager_vdpserver }}"/>
        <pack name="diagnosticmonitoringtool" selected="{{ denodo_solution_manager_diagnosticmonitoringtool }}"/>
        <pack name="SolutionManager" selected="{{ denodo_solution_manager_solutionmanager }}"/>
        <pack name="solutionmanagerserver" selected="{{ denodo_solution_manager_solutionmanagerserver }}"/>
        <pack name="licensemanagerserver" selected="{{ denodo_solution_manager_licensemanagerserver }}"/>
        <pack name="solutionmanagerwebtool" selected="{{ denodo_solution_manager_solutionmanagerwebtool }}"/>
        <pack name="Scheduler" selected="{{ denodo_solution_manager_scheduler }}"/>
        <pack name="scheduleradmin" selected="{{ denodo_solution_manager_scheduleradmin }}"/>
    </com.izforge.izpack.panels.DenodoTreePacksPanel>
    <com.izforge.izpack.panels.InstallValidatorPanel id="UNKNOWN (com.izforge.izpack.panels.InstallValidatorPanel)">
        <entry key="SELECTED_MODULES_VDP" value="VirtualDataPort,vdpserver,vdpadmintool,webdesignstudio,diagnosticmonitoringtool,"/>
        <entry key="SELECTED_MODULES_SOLUTIONMANAGER" value="SolutionManager,solutionmanagerserver,licensemanagerserver,solutionmanagerwebtool,"/>
        <entry key="SELECTED_MODULES_COMMON" value="Common,"/>
    </com.izforge.izpack.panels.InstallValidatorPanel>
    <com.izforge.izpack.panels.LocaleChooserPanel id="UNKNOWN (com.izforge.izpack.panels.LocaleChooserPanel)">
        <entry key="SELECTED_LOCALE" value="{{ denodo_solution_manager_locale }}"/>
    </com.izforge.izpack.panels.LocaleChooserPanel>
    <com.izforge.izpack.panels.UserInputPanel id="UNKNOWN (com.izforge.izpack.panels.UserInputPanel)">
        <userInput>
            <entry key="SERVER_ASYNCRMI_PORT" value="{{ denodo_solution_manager_server_asyncrmi_port }}"/>
            <entry key="SERVER_ODBC_PORT" value="{{ denodo_solution_manager_server_odbc_port }}"/>
            <entry key="SERVER_SHUTDOWNPORT" value="{{ denodo_solution_manager_server_shutdownport }}"/>
            <entry key="SERVER_PORT" value="{{ denodo_solution_manager_server_port }}"/>
            <entry key="SERVER_FACTORY_PORT" value="{{ denodo_solution_manager_server_factory_port }}"/>
        </userInput>
    </com.izforge.izpack.panels.UserInputPanel>
    <com.izforge.izpack.panels.UserInputPanel id="UNKNOWN (com.izforge.izpack.panels.UserInputPanel)">
        <userInput>
            <entry key="SOLUTIONMANAGER_PORT" value="{{ denodo_solution_manager_port }}"/>
        </userInput>
    </com.izforge.izpack.panels.UserInputPanel>
    <com.izforge.izpack.panels.UserInputPanel id="UNKNOWN (com.izforge.izpack.panels.UserInputPanel)">
        <userInput>
            <entry key="LICENSEMANAGER_PORT" value="{{ denodo_solution_manager_licensemanager_port }}"/>
            <entry key="DERBY_PORT" value="{{ denodo_solution_manager_derby_port }}"/>
        </userInput>
    </com.izforge.izpack.panels.UserInputPanel>
    <com.izforge.izpack.panels.UserInputPanel id="UNKNOWN (com.izforge.izpack.panels.UserInputPanel)">
        <userInput>
            <entry key="WC_HTTP_PORT" value="{{ denodo_solution_manager_wc_http_port }}"/>
            <entry key="WC_SHUTDOWN_PORT" value="{{ denodo_solution_manager_wc_shutdown_port }}"/>
            <entry key="WC_JMX_PORT" value="{{ denodo_solution_manager_wc_jmx_port }}"/>
            <entry key="WC_AUX_JMX_PORT" value="{{ denodo_solution_manager_wc_aux_jmx_port }}"/>
        </userInput>
    </com.izforge.izpack.panels.UserInputPanel>
    <com.izforge.izpack.panels.SummaryPanel id="UNKNOWN (com.izforge.izpack.panels.SummaryPanel)"/>
    <com.izforge.izpack.panels.InstallPanel id="UNKNOWN (com.izforge.izpack.panels.InstallPanel)"/>
    <com.izforge.izpack.panels.ShortcutPanel id="UNKNOWN (com.izforge.izpack.panels.ShortcutPanel)"/>
    <com.izforge.izpack.panels.SimpleFinishPanel id="UNKNOWN (com.izforge.izpack.panels.SimpleFinishPanel)"/>
</AutomatedInstallation>
