[Unit]
Description=Denodo License Manager
After=network.target
Before=denodo-solution-manager.service

[Service]
ExecStart=/opt/denodo-install-solutionmanager-8.0/bin/licensemanager_startup.sh
ExecStop=/opt/denodo-install-solutionmanager-8.0/bin/licensemanager_shutdown.sh
Type=forking

[Install]
WantedBy=default.target
