[Unit]
Description=Denodo Solution Manager Web Tool
After=network.target
After=denodo-license-manager.service
After=denodo-solution-manager.service

[Service]
ExecStart=/opt/denodo-install-solutionmanager-8.0/bin/solutionmanagerwebtool_startup.sh
ExecStop=/opt/denodo-install-solutionmanager-8.0/bin/solutionmanagerwebtool_startup.sh
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=default.target
