conf={{ solution_manager_installer_vars.install_path }}/conf/vdp
conf={{ solution_manager_installer_vars.install_path }}/conf
conf={{ solution_manager_installer_vars.install_path }}/resources/apache-tomcat/conf
libs={{ solution_manager_installer_vars.install_path }}/lib/vdp-client-core
libs={{ solution_manager_installer_vars.install_path }}/lib/vdp-server-core
libs={{ solution_manager_installer_vars.install_path }}/lib/contrib
libs={{ solution_manager_installer_vars.install_path }}/lib/itp-contrib/denodo-itpcore.jar
libs={{ solution_manager_installer_vars.install_path }}/lib/itp-contrib/denodo-itpmodel.jar
libs={{ solution_manager_installer_vars.install_path }}/lib/itp-contrib/denodo-parser.jar
libs={{ solution_manager_installer_vars.install_path }}/lib/itp-contrib/denodo-restorer.jar
libs={{ solution_manager_installer_vars.install_path }}/lib/itp-contrib/denodo-commons-i18n.jar
libs={{ solution_manager_installer_vars.install_path }}/lib/maintenance-core
libs={{ solution_manager_installer_vars.install_path }}/lib/iebrowser-core
libs={{ solution_manager_installer_vars.install_path }}/lib/arn-index-client
libs={{ solution_manager_installer_vars.install_path }}/lib/extensions/jdbc-drivers/vdp-7.0
libs={{ solution_manager_installer_vars.install_path }}/lib/extensions/tfs
libs={{ solution_manager_installer_vars.install_path }}/extensions
conf={{ solution_manager_installer_vars.install_path }}/extensions/dev/target/classes
main=com.denodo.vdb.vdbinterface.server.VDBManagerImpl
