backend.connection.queryTimeout={{ design_studio.backend_connection_queryTimeout }}
backend.connection.chunkSize={{ design_studio.backend_connection_chunkSize }}
backend.connection.chunkTimeout={{ design_studio.backend_connection_chunkTimeout }}
backend.connection.activeSessionConnections={{ design_studio.backend_connection_activeSessionConnections }}
backend.connection.connectionTimeout={{ design_studio.backend_connection_connectionTimeout }}
backend.connection.ssl={{ design_studio.backend_connection_ssl }}
backend.connection.wanOptimized={{ design_studio.backend_connection_wanOptimized }}
backend.web.retrieveRowsLimit={{ design_studio.backend_web_retrieveRowsLimit }}
informativeMessage.filesFolder={{ design_studio.informativeMessage_filesFolder }}

# ===============================
# = KERBEROS CONFIGURATION
# ===============================
kerberos.enabled={{ design_studio.kerberos_enabled }}
kerberos.principal={{ design_studio.kerberos_principal }}
kerberos.keyTab={{ design_studio.kerberos_keyTab }}
kerberos.filesFolder={{ design_studio.kerberos_filesFolder }}
weblogin.password={{ design_studio.weblogin_password }}
